<footer>
    <div>
      <img src="assets/images/tushsticks_white.svg">
    </div>
    <div class="footer__inner">
        <div class="footer_box">
           <ul>
             <li>nutrition</li>
             <li class="light-text">sample menu</li>
             <li class="light-text">contact us</li>
           </ul>
           <ul>
             <li>pricing</li>
             <li class="light-text">program</li>
             <li class="light-text">deals</li>
          </ul> 
        </div>
        <div class="footer_box">
          <ul>
            <li>products</li>
            <li class="light-text">grid</li>
            <li class="light-text">single</li>
          </ul>
          <ul>
            <li>support</li>
            <li class="light-text">consultation</li>
            <li class="light-text">about us</li>
          </ul>
        </div>
    </div>
    <div id="right_reserved">
      <p class="center_item">© 2017-2020 Arrow, Inc. ALL RIGHT RESERVED.</p>
    </div>
  </footer>
  