<div class="home">
        <div class="slogan">
          <div class="slogan__inner">
            <h1 class="center_item">healthy food, <span>quality assured</span></h1>
            <a class="center_item learn_more">learn more</a>
        </div>
        </div>
        <div class="howItWorks">
          <h1 class="center_item text-uppercase text-lt text-sp">how it works</h1>
          <div class="work_card" >
            <img class="center_item" src="assets/images/meal.svg">
            <h2 class="center_item">choose your favorite</h2>
            <p class="center_item">Choose your favorite meals and order online or by phone. It's easy to customize your order.</p>
          </div>
          <div class="work_card">
              <img class="center_item" src="assets/images/delivery.svg">
              <h2 class="center_item">We Deliver Your Meals</h2>
              <p class="center_item">We prepared and delivered meals arrive at your door. Duis autem vel eum iriure dolor in hendrerit in vulputate.</p>
          </div>
          <div class="work_card">
              <img class="center_item" src="assets/images/eat-enjoy.svg">
              <h2 class="center_item">Eat and Enjoy</h2>
              <p class="center_item">No shooping, no cooking, no counting and no cleaning. Enjoy your healthy meals with your family.</p>
          </div>
        </div>
        <!-- ToDo -->
       <!--  <div class="featuredMenu">
          <h1 class="center_item">Featured Menu</h1>
          <div class="slider">
            <a href="#slide-1">1</a>
            <a href="#slide-2">2</a>
            <a href="#slide-3">3</a>
            <a href="#slide-4">4</a>
            <a href="#slide-5">5</a>
            <div class="slides">
              <div id="slide-1" class="menu_card"> 
                <img src="assets/images/feature_1.jpeg">
                <h2 class="ceter_item">Tomato sauce with chicken</h2>
              </div>
              <div id="slide-2" class="menu_card">
                <img src="assets/images/feature_2.jpeg">
                <h2 class="ceter_item">Tomato sauce with chicken</h2>
              </div>
              <div id="slide-3" class="menu_card">
                <img src="assets/images/feature_3.jpeg">
                <h2 class="ceter_item">Tomato sauce with chicken</h2>
              </div>
              <div id="slide-4" class="menu_card">
                <img src="assets/images/feature_4.jpeg">
                <h2 class="ceter_item">Tomato sauce with chicken</h2>
              </div>
              <div id="slide-5" class="menu_card">
                <img src="assets/images/feature_5.jpeg">
                <h2 class="ceter_item">Tomato sauce with chicken</h2>
              </div>
          </div>
        </div>   
        </div>
      -->
        <div class="howWePrepareMeals"> 
          <a>
            <img class="center_item" src="assets/images/play-btn.svg">
            <h2 class="center_item">see how we prepare your meal</h2>
          </a>
        </div>
        <div  class="menuCategories">
            <h4 class="center_item text-uppercase text-lt text-sp">menu categories</h4>
            <div class="menu_grid">
              <a class="menu_grid_card" id="col1" routerLink="/search/breakfast">
                <span class="center_item">breakfast</span>
              </a>
              <a class="menu_grid_card" id="col2" routerLink="/search/desserts">
                <span class="center_item">desserts</span>
              </a>
              <a class="menu_grid_card" id="col3" routerLink="/search/lunch">
                <span class="center_item">lunch</span>
              </a>
              <a class="menu_grid_card" id="col4" routerLink="/search/meat&fish">
                <span class="center_item">meat & fish</span>
              </a>
              <a class="menu_grid_card" id="col5" routerLink="/search/snacks">
                <span class="center_item">snacks</span>
              </a>
              <a class="menu_grid_card" id="col6" routerLink="/search/salads">
                <span class="center_item">salads</span>
              </a>
              <a class="menu_grid_card" id="col7" routerLink="/search/soups">
                <span class="center_item">soups</span>
              </a>
              <a class="menu_grid_card" id="col8" routerLink="/search/drinks">
                <span class="center_item">drinks</span>
              </a>
            </div>
        </div>
        <div class="ourTeam">
          <h1 class="center_item text-uppercase" >our passionate team member</h1>
          <p class="center_item">meet the wonderful team of tushsticks who make sure you get your meals in style and on time</p>
          <div>
            <a class="teamCard">
                <figure class="center_item">
                  <img class="center_item" src="assets/images/lola_potrait1.jpg">
                </figure>
                <h1 class="center_item">Asse Oluwadamilola</h1>
                <p class="center_item">Founder & Chef</p>
            </a>
            
      
          </div>
          
        </div>
      </div>
      
      