<div class="menu_meals__card">
    <img  class="center_item" src="{{meal.url}}" >
    <h4 class="center_item">{{meal.name}}</h4>
    <h5 class="center_item">Protein rich Breakfast</h5>
    <h3 class="center_item">₦{{meal.price}}</h3>
    <table>
        <tbody>
            <tr>
                <td><span>Calories</span></td>
                <td><span>800k</span></td>
            </tr>
            <tr>
                <td><span>Proteins</span></td>
                <td><span>90g</span></td>
            </tr>
            <tr>
                <td><span>Fats</span></td>
                <td><span>48g</span></td>
            </tr>
            <tr>
                <td><span>Carbohydrates</span>  </td>
                <td><span>67g</span></td>
            </tr>
        </tbody>
    </table>    
    <a class="center_item">ADD TO CART</a>
</div>