.menu_meals__card{
    padding-bottom: 2em;
    border-bottom: 1px solid hsl(0, 0%, 86.7%);
    margin-top: 2em;
}

.menu_meals__card > img {
    display: block;
    width: 100%;
    height: 15em;

}

.menu_meals__card > h4 {
    color: hsl(0, 0%, 34%);
    font-size: 20px;  
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0; 
}

.menu_meals__card > h5 {
    color: hsl(0, 0%, 34%);
    font-size: 16px;  
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 0.4em;
    margin-bottom: 0; 
}

.menu_meals__card >  h3 {
    color: hsl(121, 39%, 55%);;
    font-size: 24px;  
    font-weight: 700;
    margin-top: 0.2em;
    margin-bottom: 0; 
}

.menu_meals__card > a {
    display: block;
    border: 2px solid hsl(121.3, 39.5%, 55.3%);
    padding: 0.7em 0em;
    margin-top: 2em;
}

.menu_meals__card > a:focus, .menu_meals__card > a:hover {
    background-color: hsl(121.3, 39.5%, 55.3%);
}

table{
    width: 100%;
}
tr {
    line-height: 10px;
    padding-top: 1em;
}
tr > td {
    vertical-align: bottom;
    padding-top: 1em;
    
}
tr > td:first-child {
    text-align: left;
    border-bottom: 1px dotted hsl(0, 0%, 86.7%);
}

tr > td:nth-child(2){
    text-align: right
}

.center_item{
    text-align: center;
}